{% extends "base.html" %}
 
{% block title %}
{{ article.title }}
{% endblock title %}

<link rel="stylesheet" href="/static/mycomments/css/mycomments.css">

<!-- 在 jquery.js 之后引入 -->
<script src="/static/mycomments/js/mycomments.js"></script>
{% if user.is_authenticated %}
<script>
    jQuery(function($) {
        setAuthenticatedUser();
    });
</script>
{% endif %}
 
{% block content %}
<h1>文章标题： {{ article.title }}</h1>
<div id="main">
    {{ article.content|safe }}

{% load comments i18n crispy_forms_tags %}

{% render_comment_list for article %}
<hr>
<!-- Comments Form -->
<div id="wrap-form-comment">
    <div class="well" id="form-comment">
        <h4>Leave a Comment:</h4>
        <form role="form" action="{% comment_form_target %}" method="post">{% csrf_token %}
        {% if next %}
            <div><input type="hidden" name="next" value="{{ next }}"/></div>
        {% endif %}        	
        	{% get_comment_form for article as form %}
			{% crispy form %}  
            <button type="submit" class="btn btn-primary">Submit</button>
            <button id="cancel_reply" type="button" class="btn btn-default">Cancel Reply</button>
        </form>
    </div>
</div>     

</div>
{% endblock content %}
